<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.faisal.moviecataloguefinal">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <permission android:name="com.faisal.moviecataloguefinal.READ_DATABASE" android:protectionLevel="normal" />
    <permission android:name="com.faisal.moviecataloguefinal.WRITE_DATABASE" android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.ReminderActivity" />

        <activity android:name=".view.movie.SearchMovieActivity" />
        <activity android:name=".view.tvshow.SearchTvShowActivity" />
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.tvshow.DetailFavoriteTvShowActivity"
            android:theme="@style/AppTheme.noActionBar" />
        <activity
            android:name=".view.movie.DetailFavoriteMovieActivity"
            android:theme="@style/AppTheme.noActionBar" />
        <activity
            android:name=".view.movie.DetailMovieActivity"
            android:theme="@style/AppTheme.noActionBar" />
        <activity
            android:name=".view.tvshow.DetailTvShowActivity"
            android:theme="@style/AppTheme.noActionBar" />

        <receiver
            android:name=".reminder.ReminderReceiver"
            android:enabled="true"
            android:exported="true" />
        <receiver android:name=".widget.MovieFavoriteWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/image_banner_widget_info" />
        </receiver>

        <service
            android:name=".widget.MovieFavoriteService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <provider
            android:name=".provider.MyContentProvider"
            android:authorities="com.faisal.moviecataloguefinal"
            android:exported="true"
            android:readPermission="com.faisal.moviecataloguefinal.READ_DATABASE"
            android:writePermission="com.faisal.moviecataloguefinal.WRITE_DATABASE"/>
    </application>

</manifest>